@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    /* font-size: 16px; */
    opacity: 70%;
}

.container{

    width: 30%;
    margin: 100px auto;
    background: #FFFFFF;
    border: 1px solid #030303;
    border-radius: 20px;

    
 
    
}

#multi_image{
    width: 600px;
}

.cargar{
    padding: 3% 5%;
    text-align: center;
    background-color:#FFFFFF;
    border-radius: 20px;
}

#boton_1{
    margin-top: 6%;
    margin: 2% auto;


}



.cargar_title{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

.cargar_input{
    width: 300px;
    height: 38px;
    margin: 7px 0;
    border: 1px solid #dfe1e5;
    background-color: #F9F6F6;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 5px;
    /* text-align: center; */
}

.check{

    font-size: 18px;
    text-align: center;



}

.check_b{

    width: 15px;
    height: 15px;
    border: 1px solid #dfe1e5;
    background-color: #F9F6F6;




}


.cargar_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    width: 140px;
    height: 36px;
    border: 2px solid transparent;
    background-color: #0F3057;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

.cargar_button a{
    text-decoration: none;
    color: white;
}

.cargar_buttons_container{
    display: flex;
    justify-content: space-around;
}

