@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    /* font-size: 16px; */
    opacity: 70%;
}

.login_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F6F6;
    min-height: 100vh;
    padding: 0 10%;
}


#imagen_ojo{
    width: 30px;
}

#multi_image{
    width: 600px;
}

.login{
    display: block;
    text-align: center;
    border: 1px solid #C1C0C0;
    padding: 3% 5%;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.login_title{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

.login_input{
    width: 300px;
    height: 38px;
    margin: 7px 0;
    border: 1px solid #dfe1e5;
    background-color: #F9F6F6;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 5px;
    /* text-align: center; */
}

.login_input:focus{
    outline: none;
    border: 1px solid #276E88;
}


.forgetPassword{
    color: #276E88;
    text-decoration: none;
    font-size: 13px;
}

.forgetPassword:hover{
    text-decoration: underline;
}

.login_button{
    margin: 20px 0 45px 0;
    width: 200px;
    height: 32px;
    border: 2px solid transparent;
    background-color: #0F3057;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}

.login_button:hover{
    cursor: pointer;
    border: 2px solid #276E88;
}

.login_register{
    border-top: 1px solid #C1C0C0;
}

.login_register_title{
    margin-top: 10px;
    color: #a09e9e;
}

