<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/registrarse.css" />
  </head>
  <body>
    <div id="contenedor">
      <h1>ACTUALIZAR DATOS</h1>
      <form name ="form" action="" method="post">
        {{form.hidden_tag()}}
        <div class="fila">
          <div class="mediacelda">
            {{form.nombre(size=30, class_="elemento")}}
          </div>
          <div class="mediacelda">
            {{form.apellido(size=30, class_="elemento")}}
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            <label>Correo electrónico</label>
            {{form.email(size=30, class_="elemento")}}
          </div>
          <div class="mediacelda">
            <label>Fecha de nacimiento</label
            ><input type="date" name="fecha" class="elemento" />
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            {{form.usuario(size=30, class_="elemento")}}
          </div>
        </div>
        <div class="radio">
          Sexo:
          <span
            ><label for="sexohombre" class="radio_option">Hombre</label
            ><input
              type="radio"
              name="sexo"
              id="sexohombre"
              class="radio_option"
              value="Hombre"
          /></span>
          <span>
            <label for="sexomujer" class="radio_option">Mujer</label
            ><input
              type="radio"
              name="sexo"
              id="sexomujer"
              class="radio_option"
              value="Mujer"
          /></span>
          <span
            ><label for="sexootro" class="radio_option">Otro</label
            ><input
              type="radio"
              name="sexo"
              id="sexootro"
              class="radio_option"
              value="Otro"
          /></span>
        </div>
        {{form.enviar(class_="radio")}}
        <a href="/perfil"><input type="button" value="volver"></a>
        <section class="content">
          {% for message in get_flashed_messages() %}
          <div class="flash">{{message}}</div>
          {% endfor %}
      </section>
      </form>
    </div>
  </body>
</html>
