<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    <title>Imacol | Profile</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/Imacol.jpg') }}" alt="Logo" class="header_logo" />
      </a>
      <div class="searchBar_container">
        <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="lupa" />
        <input
          type="text"
          name="searchbar"
          id="searchbar"
          placeholder="Buscar una etiqueta"
        />
      </div>
      <a href="{{ url_for('subir') }}" class="header_upload_button">
        <div class="header_upload_button_container">
          <img src="{{ url_for('static', filename='images/plus.png') }}" class="header_upload_button_image" />
          Subir
        </div>
      </a>
      <section class="navbar_profile">
        <a href="{{ url_for('perfil') }}">
          <div class="navbar_profile_container">
            <div class="profile_image_container">
              <img
                src="{{ url_for('static', filename='images/user.png') }}"
                alt="profile_image"
                class="navbar_profile_image"
              />
            </div>
            Username
          </div>
        </a>
      </section>
    </header>
    <section class="contain">
      <section class="user_info_container">
        <div class="user_info_profileimage_container">
          <div class="profileimage_container">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="profile_image" />
          </div>
        </div>
        <label class="username_title">Username</label>
        <section class="username_info">
          <h4>Nombres:</h4>
          <h4>Apellidos:</h4>
          <h4>Edad:</h4>
          <h4>Sexo:</h4>
        </section>
      </section>
      <section class="posts_container">
        <div class="posts_title_container">
          <h1>Publicaciones</h1>
        </div>
        <div class="posts_row_container">
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
        </div>
        <div class="posts_row_container">
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
        </div>
        <div class="posts_row_container">
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
          <div class="post">
            <img src="{{ url_for('static', filename='images/paisaje.jpg') }}" alt="image">
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
