<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../static/css/registrarse.css" />
  </head>
  <body>
    <div id="contenedor">
      <h1>REGISTRARSE</h1>
      <form name = form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <div class="fila">
          <div class="mediacelda">
            {{form.nombre(size=30, class_="elemento")}}
          </div>
          <div class="mediacelda">
            {{form.apellido(size=30, class_="elemento")}}
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            <label>Correo electrónico</label>
            {{form.email(size=30, class_="elemento")}}
          </div>
          <div class="mediacelda">
            <label>Fecha de nacimiento</label
            ><input type="date" name="fecha" class="elemento" />
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            {{form.usuario(size=30, class_="elemento")}}
          </div>
          <div class="mediacelda">
            {{form.contraseña(size=30, class_="elemento")}}
          </div>
        </div>
        <div class="radio">
          Sexo:
          <span
            ><label for="sexohombre" class="radio_option">Hombre</label
            ><input
              type="radio"
              name="nombre"
              id="sexohombre"
              class="radio_option"
          /></span>
          <span>
            <label for="sexomujer" class="radio_option">Mujer</label
            ><input
              type="radio"
              name="nombre"
              id="sexomujer"
              class="radio_option"
          /></span>
          <span
            ><label for="sexootro" class="radio_option">Otro</label
            ><input
              type="radio"
              name="nombre"
              id="sexootro"
              class="radio_option"
          /></span>
        </div>
        {{form.enviar(class_="radio")}}
      </form>
      <p class="iniciar">
        ¿Tienes una cuenta? <a href="/">Iniciar sesión</a>
      </p>
    </div>
  </body>
</html>
