<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registrarse.css') }}" />
  </head>
  <body>
    <div id="contenedor">
      <h1>REGISTRARSE</h1>
      <form>
        <div class="fila">
          <div class="mediacelda">
            <input
              type="text"
              name="nombre"
              placeholder="Nombres"
              class="elemento"
            />
          </div>
          <div class="mediacelda">
            <input
              type="text"
              name="apellido"
              placeholder="Apellidos"
              class="elemento"
            />
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            <label>Correo electrónico</label
            ><input
              type="email"
              name="email"
              class="elemento"
              placeholder="Correo electrónico"
            />
          </div>
          <div class="mediacelda">
            <label>Fecha de nacimiento</label
            ><input type="date" name="fecha" class="elemento" />
          </div>
        </div>
        <div class="fila">
          <div class="mediacelda">
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="elemento"
            />
          </div>
          <div class="mediacelda">
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              class="elemento"
            />
          </div>
        </div>
        <div class="radio">
          Sexo:
          <span
            ><label for="sexohombre" class="radio_option">Hombre</label
            ><input
              type="radio"
              name="nombre"
              id="sexohombre"
              class="radio_option"
          /></span>
          <span
            ><label for="sexomujer" class="radio_option">Mujer</label
            ><input
              type="radio"
              name="nombre"
              id="sexomujer"
              class="radio_option"
          /></span>
          <span
            ><label for="sexootro" class="radio_option">Otro</label
            ><input
              type="radio"
              name="nombre"
              id="sexootro"
              class="radio_option"
          /></span>
        </div>
        <div class="radio">
          <button>Registrarse</button>
        </div>
      </form>
      <p class="iniciar">
        ¿Tienes una cuenta? <a href="{{ url_for('index') }}">Iniciar sesión</a>
      </p>
    </div>
  </body>
</html>
