<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/subir.css" />
    <title>Subir imagen</title>
  </head>
  <body>
    <div class="container">
      <div class="cargar">
        <h1 class="cargar_title">Subir imagen</h1>
        <form method="GET">
          <br />
          <input
            type="text"
            name="nombre_imagen"
            id="nombre_imagen"
            class="cargar_input"
            placeholder="Nombre de la imagen"
          />
          <br />
          <input
            type="text"
            name="tags"
            id="tags"
            class="cargar_input"
            placeholder="Tags"
          />
          <input type="file" value="Cargar imagen" id="boton_1" />
          <br /><br />
          <label class="check"
            ><input type="checkbox" name="seleccionador" class="check_b" />
            ¿Pública?</label
          >
          <br />
          <hr />
          <div class="cargar_buttons_container">
            <a href="/home">
              <div class="cargar_button">Cancelar</div>
            </a>
            <a href="#">
              <div class="cargar_button">Subir</div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
