<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/subir.css" />
    <title>Subir imagen</title>
  </head>
  <body>
    <div class="container">
      <div class="cargar">
        <h1 class="cargar_title">Subir imagen</h1>
        <form name = form action="" method="POST" enctype="multipart/form-data">
          {{form.hidden_tag()}}
          <br />
          {{form.nombre(size=30, class_="cargar_input")}}
          <br />
          {{form.tags(size=30, class_="cargar_input")}}
          <input type="file" value="Cargar imagen" id="boton_1" name="imagen"/>
          <br /><br />
          <div>{{form.esPublica(class_="check_b")}} ¿Pública?</div>
          <br />
          <hr />
          <div class="cargar_buttons_container">
            <a href="/home">
              <div class="cargar_button">Cancelar</div>
            </a>
            {{form.enviar(class_="cargar_button")}}
          </div>
          <section class="content">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{message}}</div>
            {% endfor %}
          </section>
        </form>
      </div>
    </div>
  </body>
</html>
